body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
a{text-decoration:none}
body,html{
    height: 100%;
}
a:hover{color:#cd0200;text-decoration:none;}
em{font-style:normal}
li{list-style-type:none;}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
/* icofont ************************/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
/* ************************/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
.left{
    float: left;
}
.right{
    float: right;
}
body{
    width: 100%;
    /* background: #f2f2f2; */
}
.containter{
    margin-right: 36px;
    display: flex;
    background: #f2f2f2;
}
.wrap_top{
    width: 100%;
    margin: 0 auto;
    color: #52504f;
    flex: 1;
    box-sizing: border-box;
    /* border: 2px solid red; */
    float: left;
}
.wrap_top a{
    color: #52504f;
    display: block;
    width: 100%;
    padding: 0 8px;
    text-align: center;
}
.wrap_top a:hover{
    color: red;
    background: #fff;
    text-decoration: underline;
}
.wrap_top_left,.wrap_top_right{
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 33px;
}
.wrap_top_right{
    width: 500px;
}
.wrap_top_right li{
    position: relative;
}
.wrap_top_right li .hidden{
    display: none;
    position: absolute;
    left: 10px;
    top: 33px;
    text-align: center;
    background: #fff;
}
.wrap_top_right li .hidden li a{
    width: 100px;
    height: 30px;
    background: #fff;
    text-align: center;
    color: #52504f;
}
.wrap_top_img{
    position: absolute;
    left: -40px;
    top: 28px;
    width: 178px;
    height: 226px;
    display: none;
}
.wrap_top_img_li:hover .wrap_top_img{
    display: block;
}
.wrap_top_nav{
    width: 147px;
    height: 176px;
    position: absolute;
    right: 0;
    top: 33px;
    box-sizing: border-box;
    padding: 0 10px;
    /* background: red; */
    display: none;
}
.wrap_top_nav_top{
    height: 120px;
}
.wrap_top_nav_top p,.wrap_top_nav_bottom p{
    /* border: 1px solid green; */
    height: 24px;
    line-height: 28px;
}
.wrap_top_nav_top ul{
    padding: 0;
    border-bottom: 1px dashed #b6b6b6;
    height: 92px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrap_top_nav_top>ul li,.wrap_top_nav_bottom>ul li{
    width: 48px;
    height: 22px;
    text-align: center;
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}
.wrap_top_nav_top>ul li a,.wrap_top_nav_bottom>ul li a{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    /* color:  */
}
.wrap_top_nav ul>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrap_top_nav_bottom{
    height: 50px;
    border-bottom: 1px dashed #b6b6b6;
}
.wrap_top_right li:hover .hidden{
    display: block;
}
.wrap_top_right li:hover .wrap_top_nav{
    display: block;
}
/* top_nav  */
.wrap_right_nav{
    display: none;
    width: 1195px;
    height: 160px;
    position: absolute;
    right:0px;
    top: 33px;
    padding: 23px 0 20px;
    box-sizing: border-box;
    background: #fff; 
    border-left: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}
.wrap_top_right li:hover .wrap_right_nav{
    display: block;
}
/**/
.wrap_right_nav_left,.wrap_right_nav_middle{
    width: 486px;
    height: 117px;
    float: left;
    border-right: 2px solid #b6b6b6;
}
.wrap_right_nav_left p,.wrap_right_nav_middle p{
    text-indent: 30px;
    line-height: 28px;
    font-size: 16px;
    color: orange;
}
.wrap_right_nav_left p span,.wrap_right_nav_middle p span{
    margin-right: 10px;
}
.wrap_right_nav_left ul li,.wrap_right_nav_middle ul li{
    width: 97px;
    height: 27px;
    float: left;
    /* border: 1px solid red; */
}
.wrap_right_nav_left ul .blueTarget,.wrap_right_nav_middle ul .blueTarget{
    background: url(../img/1/blue.png) no-repeat 78px 0;
}
.wrap_right_nav_left ul .greenTarget,.wrap_right_nav_middle ul .greenTarget{
    background: url(../img/1/red.png) no-repeat 78px 0;
}
.wrap_right_nav_left ul li a,.wrap_right_nav_middle ul li a{
    color: #b3b3b3;
}
.wrap_right_nav_left ul li a:hover,.wrap_right_nav_middle ul li a:hover{
    color: orange;
}
.wrap_right_nav_middle p{
    color: green;
}
.wrap_right_nav_right{
    width: 218px;
    height: 100%;
    float: right;
    background: #fff;
}
.wrap_right_nav_right p{
    text-indent: 30px;
    line-height: 28px;
    font-size: 16px;
    color: #b6b6b6;
}
.wrap_right_nav_right span{
    margin-right: 10px;
}
.wrap_right_nav_right ul{
    padding: 0 15px 0 30px; 
    /* border: 1px solid red; */
    overflow: hidden;
}
.wrap_right_nav_right ul li{
    width: 77px;
    height: 27px;
    float: left;
    /* border: 1px solid red; */
}
.wrap_right_nav_right ul li a{
    color: #b3b3b3;
    text-align: left;
    padding: 0;
}




/*  右侧导航：*/
.fixRight_nav{
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    width: 36px;
    height: 100%;
    background: #000;
}
.fixRight_nav .list1{
    width: 36px;
    position: absolute;
    right: 0;
    top: 200px;
}
.fixRight_nav .list2{
    width: 36px;
    position: absolute;
    bottom: 20px;
    right: 0; 
}
.fixRight_nav li{
    width: 36px;
    height: 35px;
    background: #796d6d url(../img/toolbars.png) no-repeat;
    margin-bottom: 1px;
} 
.fixRight_nav li:hover{
    background-color: sandybrown;
}
.fixRight_nav .one{background-position: -87px -175px;}
.fixRight_nav .two{background-position: -49px 0px;}
.fixRight_nav .three{background-position: -49px -50px;}
.fixRight_nav .four{background-position: -189px -150px;}
.fixRight_nav .five{background-position: -49px -150px;}
.fixRight_nav .six{background-position: -49px -250px;}
.fixRight_nav .seven{background-position: -49px -300px;}
.fixRight_nav .one:hover{background-position: -88px -202px;}
.fixRight_nav .two:hover{background-position: 5px 6px;}
.fixRight_nav .three:hover{background-position: 7px -41px;}
.fixRight_nav .four:hover{background-position: -143px -90px;}
.fixRight_nav .five:hover{background-position: 7px -143px;}
.fixRight_nav .six:hover{background-position: -49px -250px;}
.fixRight_nav .seven:hover{background-position: -49px -300px;}

/* **********************8  LOGO  **************************** */
.nav_Logo{
    width: 100%;
    height: 132px;
    /* border: 1px solid red; */
}
.nav_Logo_left{
    float: left;
    /* border: 1px solid red; */
}
.nav_Logo .nav_Logo_left img{
    margin: 30px 0 0 10px;
}
.nav_Logo .nav_Logo_right{
    width:700px;
    min-height: 30px;
    margin:40px 0 0 120px;
    /* border: 1px solid red; */
    float: left;
}
/* nav_Logo_right_nav */
.nav_Logo_right input{
    float: left;
    border: 2px solid #296ecc;
    text-indent:15px;
}
#nav_search{
    width: 395px;
    height: 38px;
    color:#000;
    /* border: 2px solid red; */
}
#nav_search_btn{
    width:133px;
    height: 42px;
    background: #296ecc;
    border: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-indent: 0;
    letter-spacing: 6px; 
}
.nav_Logo_right_nav{
    clear: both;
}
.nav_Logo_right_nav li{
    float: left;
    height: 30px;
    line-height: 32px;
    text-align: center;
    

}
.nav_Logo_right_nav li a{
    color:#b6b6b6;
    height: 14px;
    padding:0 13px;
    border-right: 1px solid #b6b6b6;
}
.nav_Logo_right_nav li .margin_no{
    padding-left: 0;
}
.nav_Logo_right_nav li .border_no{
    border: 0;
}
.nav_middle_left{
    width: 200px;
    height:38px;
    background: #fe0036;
    color: #fe0036;
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
    line-height: 36px;
    color: #fff;
    float: left;
}
.nav_middle_left strong{
    margin-left: 5px;
}
.nav_middle{
    clear: both;
}
.nav_top{
    height: 38px;
    /* border: 1px solid red; */
}
.nav_top ul{
    width: 680px;
    height: 36px;
    border-bottom: 2px solid darkcyan;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-weight: bolder;
    font-size: 14px;
}
.nav_top ul li a{
    display: block;
    line-height:39px;
    color: #000;
    background:darkgray;
    width: 80px;
    text-align: center;
    height:32px;
}
.nav_top ul li:hover a{
    color: green;
    background: #fe0036;
    height: 36px;
    margin-top: -4px;
}
.search_top{
    width: 236px;
    height: 45px;
    float: left;
}
.search_top span{
    display: block;
    float: left;
    width: 67px;
    height: 45px;
    /* border:1px solid green; */
    line-height: 45px;
    text-align: center;
}
.search_top div{
    float: left;
    margin: 11px 0 0 ;
}
.search_top input{
    float: left;
    height: 22px;
}
.search_top .border_rightNO{
    border: 1px solid #b6b6b6;
    border-right:none;
    width: 130px;
    display: block;
}
.search_top .border_leftNo{
    border: 1px solid #b6b6b6;
    display:block;
    float: left;
    border-left: none;
    width: 32px;
    height: 24px;
    background: #fff url(../img2/放大镜.png) no-repeat center center;
    text-indent: 999px;
}
.nav_bottom_all{
    clear: both;
    height: 69px;
    border: 1px solid #b6b6b6;
}
.nav_bottom_first{
    overflow: hidden;
    clear: both;
    height: 69px;
    border: 2px solid #ccc;
    
}
.nav_bottom_first span{
    display: inline-block;
    float: left;
    height: 69px;
    width: 120px;
    text-indent: 10px;
    line-height: 40px;
    background: #b6b6b6;
}
.nav_bottom_first ul{
    float:left;
    height: 65px;
    margin: 4px 0 0 40px;
    padding:5px 0 0;
}
.nav_bottom_first ul li{
    float: left;
    border: 1px solid #b6b6b6;
}
.nav_bottom_first ul li:hover{
    /* border: 1px solid red; */
}
.nav_bottom_second{
    overflow: hidden;
    /* width: 1180px; */
    height:30px;
    border: 1px solid #b6b6b6;
    line-height: 30px;
}
.nav_bottom_second span{
    display: block;
    float: left;
    background: #b6b6b6;
    width: 120px;
    /* text-align: center; */
}
.nav_bottom_second ul{
    float: left;
    width:940px;
}
.nav_bottom_second ul li{
    float: left;
    margin: 0 40px;
}



























.footer_main{
    /* border: 1px solid red; */
}
/* footer */
.footer_main{
    margin-top: 1px;
    clear: both;
    height: 160px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b6b6b6;
}
.footer_main img{
    float: left;
}
.footer_main div{
    /* border: 1px solid red; */
    

}
.footer_main div{
    /* word-wrap: none; */
    float: left;
    /* display: block; */
}
.footer_main div p:nth-child(1){
    margin-top: 20px;
    height: 20px;
    line-height:20px;
    font-size:15px;
    font-weight:bolder;
}
.footerEND{
    height: 240px;
    /* width: 1000px; */
    background: rgb(43, 43, 156);
    padding : 0 20px;
    color: #fff;
}
.footerEND a{
    color: #fff;
}
.footerEND p:nth-child(1){
    height: 40px;
    width: 650px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}
.footerEND p:nth-child(2){
    height: 35px;
    width:800px;
    line-height: 38px;
}
.footerEND p:nth-child(2) span{
    padding: 0 10px;
    border-right: 1px solid #fff;
}
.footerEND p:nth-child(2) .paddingNO{
    padding-left: 0;
}
.footerEND p:nth-child(2) .borderNo{
    border-right:none;
}
.color_aba396 a{
    color:#aba396;
}
.footerEND p:nth-child(3){
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    line-height: 26px;
}
.footerEND p:nth-child(4){
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    line-height: 26px;
}
.footerEND p:nth-child(5){
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    line-height: 26px;
}
.footerEND p:nth-child(7){
    margin: 10px 0 0 ;
}
.footerEND p:nth-child(7) img{
    float: left;
    margin: 10px 10px 0 0;
}
